@import "utils/_variables";
@import "base/_global";
@import "layouts/_header.scss";
@import "pages/_accueil-élement.scss";
@import "pages/menu-section";
@import "composants/_button";
@import "layouts/_footer.scss";

 

.bloc-reservation{
    background-color: $BackGrey;
    padding-top: 1px;
    padding-bottom: 40px;
    &__tittle{
    font-size: 25px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
   }
    
    p{
        color: gray;
        padding-left: 20px; 
        padding-right: 20px;
        text-align: center;
    }
    &__button{
       border: 1px solid $Secondary;
       border-radius: 30px;
       background-image: linear-gradient($Secondary,$Primary);
       color: white;
       width: 220px;
       height: 50px;
       position: relative;
       left: 50%;
       transform: translateX(-50%);
       align-items: center;
         display: flex;
        justify-content: center;
    }
}
// reflechir a une mixins button//
.bloc-step{
    display: flex;
    flex-direction: column;
    
    h2{
        margin-left: 25px;
    }
    &__button{
        border: 1px solid $BackGrey;
        border-radius: 20px;
        box-shadow: 5px 5px 5px rgb(218, 217, 217);
        background-color: $BackGrey;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: bold;
        height: 60px; 
        align-items: center;
          display: flex;
          margin-top: 20px;
          margin-bottom: 20px;
         justify-content: center;
         position: relative;
         &__number{
            display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $Primary;
    color: white;
    background-color: $Primary;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 35%;
    transform: translate(-35%);
         }
         &__logo {
            margin-right: 20px;
            color: gray;
            font-size: 20px;         
        }
        &:hover{
            background-color: lighten($color: $Primary, $amount: 35);
            .bloc-step__button__logo {
                color: $Primary;
            }
    }
    }

}


.carte-menu{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    .new-green {
        background-color: rgb(116, 243, 116);
        color: greenyellow;
        padding: 5px;
        border-radius: 3px;
        position: absolute;
        top:10px;
        left: 75%;
    }
}

.carte-menu__border{
    width: 100%; 
    background: rgb(255, 255, 255);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.062); 
    margin-bottom: 20px;
    position: relative;
    
    img{
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    }
    p{
        padding-left: 10px;
        line-height: 5px;
    }
}
.name_logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}
