@font-face {
	font-family: 'Roboto';
	src: url(‘/fonts/Roboto-Regular.woff2’) format(‘woff2’),
		url(‘/fonts/Robot-Regular.ttf’) format(‘truetype’)
}
$Primary:#9356DC;
$Secondary:#FF79DA;
$Tertiary:#99E2D0;
$BackGrey:rgb(245, 241, 241);
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
 header{
    img{   
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
    
    }
 }
.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    input{
        flex-grow: 1;
        height: 50px;
        font-weight: bold;
        font-size: 15px;
        background-color: rgb(236, 234, 234);
        border: rgb(228, 225, 225);
        text-align: center;
        color: rgb(63, 62, 62);
    }
}
.bloc-reservation{
    background-color: $BackGrey;
    padding-top: 1px;
    padding-bottom: 40px;
   .bloc-reservation__tittle{
    font-size: 25px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
   }
    text-align: center;
    p{
        color: gray;
        padding-left: 20px; 
        padding-right: 20px;
    }
    .bloc-reservation__button{
       border: 1px solid $Secondary;
       border-radius: 30px;
       background-image: linear-gradient($Secondary,$Primary);
       color: white;
       width: 220px;
       height: 50px;
       position: relative;
       left: 50%;
       transform: translateX(-50%);
       align-items: center;
         display: flex;
        justify-content: center;
    }
}
.bloc-step{
    display: flex;
    flex-direction: column;
    h2{
        margin-left: 25px;
    }
}
.bloc-step__button{
    border: 1px solid $BackGrey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(218, 217, 217);
    background-color: $BackGrey;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    height: 60px;
    align-items: center;
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
     justify-content: center;
     &:hover{
        background-color:#e6d7f8; 
     }
     .bloc-step__button_logo {
        margin-right: 20px;
        color: gray;
        font-size: 20px;
        
    }
    
}
.circle_number{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $Primary;
    color: white;
    background-color: #9356DC;
    border-radius: 50px;
    width: 25px;
    height: 25px;
}