.menu__btn{
    display: flex;
    border: solid 1px white;/* revoir les bordure ou les enlever*/
    background-color: white;
    box-shadow: 5px 5px 5px  rgb(218 217 217);
    border-radius: 20px;
    margin: 20px 10px 20px 10px;
    width: auto;
    @include text-elips;
    &__txt{
        display: flex;
        flex-direction: column;
        padding: 5px;
        @include text-elips;
    }
    &__price{
        padding: 2px;
        display: flex;
        align-items: flex-end;
        width: 35px;
    font-weight: bold;
    margin-left: auto;
    }
    &__check{
        display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -60px;
        background-color: $Tertiary;
        width: 60px;
        transition: margin-right 0.8s ;
        i{
            display: grid;
            place-items: center;
            background: white;
            border: 1px solid transparent;
            color: $Tertiary;
            border-radius: 50px;
            width: 25px;
            height: 25px;
        }
    }
    &:hover{
        .menu__btn__check{
            margin: 0;
        }
        i {
            animation: check-spin 0.6s linear ;
        }
    }
    animation:oppac 1.7s linear;
   -webkit-animation:oppac 1.7s linear;
   transition: linear 1.7s;
   -webkit-transition: linear 1.7s;
  -moz-transition: linear 1.7s;
}
