
@font-face {
	font-family: 'Roboto'; 
	src: url(‘/fonts/Robot-Regular.ttf’) format(‘truetype’);
      
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1400px;
    margin: auto;
}
.menu__tittle{
    font-family: 'Shrikhand', cursive,sans-serif;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i{
        margin-right: 30px;
        font-weight: normal;
        font-size: 1.5rem;
    }
    @media screen and (min-width:993px){
        display: none;
       }
       @media screen and (max-width:992px) and (min-width:769px){
        display: none;
    }
}
.menu__tittle-desktop{
    font-family: 'Shrikhand', cursive,sans-serif;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     i{
    margin-right: 30px;
    font-weight: normal;
    font-size: 1.5rem;
    }
    @media screen and (max-width:769px) {
        display: none;
       }
    }
.menu__btn{
    h4{
        margin-top: 10px;
        margin-bottom: 5px;
        @include text-elips;
    }
    p{
        margin: 0;
        @include text-elips;
    }
}
