.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
        height: 50px;
        font-weight: bold;
        font-size: 15px;
        background-color: rgb(236, 234, 234);
        border:solid 1px rgb(228, 225, 225);
        text-align: center;
        color: rgb(63, 62, 62);
        &__logo{
            padding-right: 10px;
        }
}