.menu__btn{
    opacity: 1;
}
@keyframes oppac{
    0%{
opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@for $i from 1 through 9{
    .ord#{$i} {
  animation:oppac $oppac-duration linear;
  animation-delay:($i*$oppac-duration) ;
  animation-fill-mode: forwards;
    }
}


@keyframes timeload {
    to{
        transform: scale(0);
    }
}

@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}

@keyframes check-spin {
    from{
transform: rotate(-270deg);
    }
    to{
transform: rotate(0deg);
    }
}
