.menu__btn{
    opacity: 0;
}
@keyframes oppac{
    0%{
opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@for $i from 1 through 9{
    .ord#{$i} {
  animation:oppac $duration linear;
  animation-delay:($i*$duration) ;
  animation-fill-mode: forwards;
    }
}

.loading{
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #ffffff;
     height: 100vh;
     inset: 0;
     z-index: 2;
     opacity: 0.9;
     animation: timeload 0.5s 3.5s forwards;
     i{
        font-size: 5rem;
        color: $Primary;
        animation: spinner 3.5s/* faire une variable*/linear;
     }
     
}
@keyframes timeload {
    to{
        transform: scale(0);
    }
}

@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}